footer {
  background-color: black;
  .footer {
    padding: 8rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    .top {
      nav {
        ul {
          display: flex;
          gap: 50px;
          justify-content: center;
          align-items: center;
          li {
            a {
              color: white;
            }
          }
        }
      }
    }
    .bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5rem;
      form {
        input {
          padding: 8px 3.5rem;
          border: none;
        }
        .input1 {
          border: 2px solid#380234;
        }
        .input2 {
          background-color: #380234;
          color: white;
          border: 2px solid transparent;
          transition: all 600ms;
          &:hover {
            background-color: white;
            border: 2px solid #380234;
            color: #380234;
          }
        }
      }
      .icons {
        color: black;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        .icon {
          padding: 8px;
          border-radius: 50%;
          border: 2px solid transparent;
          background-color: antiquewhite;
          transition: all 600ms;
          &:hover {
            border: 2px solid #380234;
            background-color: antiquewhite;
            color: #380234;
          }
        }
      }
    }
  }
}
