#product-details {
  .product-details {
    height: 75vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    button {
      padding: 16px 4.8rem;
      border: none;
      background-color: teal;
      color: white;
      border-radius: 6px;
      border: 2px solid transparent;
      transition: all 600ms;
      &:hover {
        border: 2px solid teal;
        background-color: white;
        color: teal;
      }
    }
  }
}
